extends layout

block page-css
  link(href='/assets/quill/dist/quill.snow.css' rel='stylesheet')

block page-js
  script(type='text/javascript' src='/assets/jquery/dist/jquery.min.js')
  script(type='text/javascript' src='/assets/quill/dist/quill.min.js')
  script(type='text/javascript' src='/js/notify.js')

block page-scripts
  script(type="text/javascript").
    window.KEY = "#{user.key}";
    window.USER = "#{user.username}";
    window.ARTICLE = {
      "articleid": !{article.articleid},
      "title": "#{article.title}",
      "content": !{article.content},
      "isdraft": "#{article.isdraft}"
    };
    $(() => {
      window.editor = new Quill('#article-editor', {
        theme: 'snow',
        placeholder: 'Compose an epic...',
      });
      window.editor.setContents(window.ARTICLE.content);
    });
  script(src='/js/edit.js')

block content
  .container
    section.hero.is-light
      .hero-head
        include includes/header.pug

    section.section.is-light
      form#article-form
        //- TITLE
        .field
          label.label Title
          .control
            input#article-title.input(type='text' value=article.title required)
        //- CATEGORY
        .field
          label.label Category
          .control
            .select
              select#article-category
                each opt in categories
                  if opt.categoryid == article.categoryid
                    option(value=opt.categoryid selected)= opt.name
                  else
                    option(value=opt.categoryid)= opt.name
        //- ISDRAFT
        .field
          label.label Publish
          .control
            label.checkbox
              if article.isdraft
                input#article-isdraft(type='checkbox')
              else
                input#article-isdraft(type='checkbox' checked)
              | &nbsp; If checked, article will be published. Otherwise saved as draft.
        //- CONTENT
        .field
          label.label Content
          .control
            #article-editor
        br
        br
        //- SUBMIT
        .field.is-grouped.is-grouped-centered
          input.button.is-primary(type='submit' value='Save')
