extends layout

mixin postcard(article)
  .card
    .card-content
      .media
        .media-left
          figure.image.is-48x48
            img(src='/api/avatar/' + article.author, alt=article.author)
        .media-content
          p.title.is-4= article.title
          p.subtitle.is-6= '@' + article.author + ' in ' + article.category
      .content
        span !{article.content}
        br
        span= article.date

block content
  section.section.hero.is-primary.is-fullheight
    section.hero-body
      .container
        span.level
          span.level-left
            span.level-item
              img(alt='writr' src='/assets/writr.svg' title='writr' style='height: 80px;')
            span.level-item
              h1.title.is-1 writr

        h2.subtitle
          | a simple blogging platform.
          br
          | just write #[span.icon #[i.fa.fa-pencil-square]]

  section.section.hero.is-light
    section.hero-body
      .container
        h3.title.is-3| featured
        each article in featured
          +postcard(article)

